<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quantum</title>
        <style>
            h1{
                text-align: center;
                border-radius: 5px;
                background-color: rgba(245, 245, 245, 0.562);
            }
            body{
                background-color: rgba(0, 132, 255, 0.808);
            }
            a{
                align-items: center;
                padding: 22px;
                margin-left: calc(50% - 110px);
                
            }
            button{
                border-radius: 10px;
                padding: 22px;
                background-color: rgba(245, 245, 245, 0.562);
                width: 180px;
                margin-bottom: 11px;
            }
        </style>
    </head>
    <body>
        <h1>In quantum space you were absent for <%= locals.year %> years, <%= locals.month %> months, <%= locals.day %> days!</h1> 
        <a href="/"><button><b>Go back!</b></button></a>
    </body>
</html>
